@font-face {
    font-family: "lucidaSans";
    src: url("fonts/lucida-sans/LSANS.TTF") format("truetype");
}

body {
    font: inherit;
    font-family: "lucidaSans";
    background-color: #0e092e;
}

.NavBar {
    display: grid;

    /* calc(100vw/852*430) solves for the px height of image at 100vw*/
    grid-template-rows: calc(79vw/852*430) auto;

    width: 100%;
    height: auto;

    color: #EAF5B8;
    z-index: -2;
}



#IntroImage1 {
    position: fixed;

    grid-row: 1/2;
    width: 80%;

    left: 50%;
    transform: translate(-50%, 0);

    z-index: -1;
}

#IntroTextRemake {
    grid-row: 2/3;

    background-color: #32125c;
    background-image: url("images/NavBarBG.png");
    background-repeat: no-repeat;
    background-size: cover;
    border-style: inset;
    border-width: 5px;
    border-color: #c986ab;

    font-size: 1.2em;
    text-align: center;
    padding: 5% 10%;
}





/* menu */

.HamburgerMenu {
    position: fixed;
    transform: translateY(-200%);
    transition: transform 0.2s;

    width: 12em;
    height: 12em;

    top: 3em;
    left: auto;
    right: 0;

    z-index: 9999;

    list-style-type: none;
}

.HamburgerMenuButton {
    position: fixed;
    z-index: 100;
    top: 1%;
    right: 1%;

    cursor: pointer;

    z-index: 9999;

}

.HamburgerMenuItem {
    position: absolute;
    text-align: right;
    right: 1em;

    font-size: 1.2em;

    background: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 0.3em;

    z-index: 9999;
}

#AnchorLinkReset {
    top: 0;
}

#AnchorLink1 {
    top: 2em;
}

#AnchorLink2 {
    top: 4em;
}

#AnchorLink3 {
    top: 6em;
}

#AnchorLink4 {
    top: 8em;
}

#HamburgerMenuButtonIconClose {
    display: none;
}

.ShowMenu {
    transform: translateY(0);
}







/* buttons */
button {
    background-color: rgba(116, 164, 116, 0.653);
    font-size: 1.25vw;

    border-color: rgba(116, 164, 116, 0.653);
    border-style: solid;

    cursor: pointer;

    transition-duration: 0.5s;

    z-index: 999;
}

/* buttons hovering */
button:hover {
    background-color: rgba(201, 239, 201, 0.653);
}

/* hamburger menu */
.HamburgerMenuButton {
    color: white;
    background: none;
    border: none;
}

.HamburgerMenuButton:Hover {
    background: none;
}


























/* human anatomy */

.HumanAnatomy {
    display: grid;
    background-color: white;
    background: linear-gradient(to top, white 0%, white 90%, #0e092e 100%);
    width: 100%;
    height: 150vw;
}

.HumanAnatomyHeader {
    padding-top: 15%;

    font-size: 1.75vw;
    text-align: center;
}

#HumanAnatomySections {
    display: grid;
    grid-template-columns: 10% 1fr 10% 1fr 10%;
    grid-template-rows: 20% auto auto 20%;

    height: 150vw;

    background-color: rgb(255, 247, 247);
    background: linear-gradient(to top, rgb(0, 0, 0, 0) 0%, rgb(255, 247, 247) 5%, rgb(255, 247, 247) 95%, rgb(0, 0, 0, 0) 100%);
}

.HumanAnatomySectionHeader {
    font-size: 2vw;
    padding-top: 5%;
}

#HumanAnatomySection1,
#HumanAnatomySection2,
#HumanAnatomySection3 {
    display: inline-block;
    grid-column: 2/5;
    grid-row: 1/5;
}

/* images */

.HumanAnatomySection1Image,
.HumanAnatomySection3Image {
    display: grid;
    width: 100%;
}

.HumanAnatomySection2MainContent {
    grid-column: 1/4;

    display: grid;
    grid-template-columns: 1fr 10% 1fr;
    grid-template-rows: auto auto;

    
}

#HumanAnatomyImage2 {
    display: none;
}

/* human anatomy buttons */

.HumanAnatomyButton {
    display: inline-block;
    margin: auto;

    cursor: pointer;
    text-align: center;
}

#HumanAnatomySection1Button {
    display: inline-block;
    grid-column: 1/2;
    grid-row: 1/5;

    margin: auto auto auto 20%;
    padding: 5px;
    width: 50px;
    height: 50px;

    z-index: 2;
}

#HumanAnatomySection2Button {
    display: inline-block;
    grid-column: 5/6;
    grid-row: 1/5;

    margin: auto 20% auto auto;
    padding: 5px;
    width: 50px;
    height: 50px;

    z-index: 2;
}

#HumanAnatomySection1Text {
    display: inline-block;
    grid-column: 2/5;
    grid-row: 3/4;

    margin: auto;
    padding: 3% 0 5% 0;

    font-size: 1.75vw;
}



#HumanAnatomyImage3 {
    display: inline-block;
    grid-column: 1/3;
    grid-row: 2/3;
}

#HumanAnatomyImage4 {
    display: inline-block;
    grid-column: 2/4;
    grid-row: 3/4;
}

#HumanAnatomyImage3,
#HumanAnatomyImage4 {
    width: 100%;
}

#HumanAnatomySection2Text1 {
    display: inline-block;
    grid-column: 1/4;
    grid-row: 1/2;

    font-size: 2vw;
}

#HumanAnatomySection2Text2 {
    display: inline-block;
    grid-column: 3/4;
    grid-row: 2/3;

    font-size: 1.5vw;
    padding: 5%;
    margin: auto;
}

#HumanAnatomySection2Text3 {
    display: inline-block;
    grid-column: 1/2;
    grid-row: 3/4;

    font-size: 1.5vw;
    padding: 5%;
    margin: auto;
}




.HumanAnatomySection3MainContent {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
}

#HumanAnatomyImage5 {
    display: inline-block;
    grid-column: 1/2;
    grid-row: 1/2;
}

#HumanAnatomyImage6 {
    display: inline-block;
    grid-column: 1/3;
    grid-row: 2/3;
}

#HumanAnatomySection3Text1 {
    display: inline-block;
    grid-column: 2/3;
    grid-row: 1/2;

    font-size: 1.5vw;
    padding: 5%;
    margin: auto;
}

#HumanAnatomySection3Text2 {
    display: inline-block;
    grid-column: 1/3;
    grid-row: 3/4;

    font-size: 1.75vw;
    padding: 2% 5% 5% 5%;
    margin: auto;
}

/* section switch animation */

#HumanAnatomySection1.HumanAnatomyStartAnimation,
#HumanAnatomySection2.HumanAnatomyStartAnimation,
#HumanAnatomySection3.HumanAnatomyStartAnimation {
    animation: OpacityFadeInAnimationKeyframes 1.2s forwards;
}





































/* dynamic poses */

.DynamicPoses {
    background-color: rgb(252, 236, 227);
    background: linear-gradient(to top, rgb(252, 236, 227) 0%, rgb(252, 236, 227) 90%, rgb(0, 0, 0, 0) 100%);
    width: 100%;
    height: 130vw;

    margin-top: -30vh;
}

.DynamicPoses.DynamicPosesExtendAnimation {
    animation: DynamicPosesExtendAnimationKeyframes 1.2s forwards;
    animation-timing-function: ease-out;
}

.DynamicPoses.DynamicPosesExtendAnimation.DynamicPosesContractAnimation {
    animation: DynamicPosesContractAnimationKeyframes 1.2s forwards;
    animation-timing-function: ease-in-out;
}

#DynamicPosesSections {
    display: grid;
    grid-template-columns: 10% 1fr 2% 1fr 10%;
    grid-template-rows: 5% auto auto 20%;

    height: 175vh;
}

#DynamicPosesSection1,
#DynamicPosesSection2 {
    grid-column: 2/5;
}

#DynamicPosesSection1.DynamicPosesStartAnimation,
#DynamicPosesSection2.DynamicPosesStartAnimation {
    animation: OpacityFadeInAnimationKeyframes 1.2s forwards;
}

.DynamicPosesHeader {
    padding-top: 15%;
    padding-bottom: 5%;

    font-size: 1.75vw;
    text-align: center;
}

.DynamicPosesSectionHeader {
    font-size: 2vw;
    padding-top: 5%;
}

.DynamicPosesSection1MainContent {
    display: grid;
    grid-template-columns: 30% 1fr 1fr 30%;
    grid-template-rows: auto auto auto auto auto auto;
}

#DynamicPosesSection1Button {
    grid-column: 2/3;
    grid-row: 1/2;
}

#DynamicPosesSection2Button {
    grid-column: 4/5;
    grid-row: 1/2;
}

#DynamicPosesSections>button,
#DynamicPosesSection1ExampleButton {
    display: inline-block;
    background-color: #fbc2e1;
    border-color: #d68db5;
    border-radius: 80px;
    box-shadow: rgb(173, 44, 187, 0.2) 0 -25px 18px -14px inset, rgb(173, 44, 187, 0.15) 0 1px 2px, rgb(173, 44, 187, 0.15) 0 2px 4px, rgb(173, 44, 187, 0.15) 0 4px 8px, rgb(173, 44, 187, 0.15) 0 8px 16px, rgb(173, 44, 187, 0.15) 0 16px 32px;
    color: rgb(128, 0, 83);
    cursor: pointer;

    padding: 2%;
    text-align: center;
    font-size: 1.4vw;
}

/* if is pressed, doesnt matter if hovering or not */
#DynamicPosesSection1Button.EnabledButton,
#DynamicPosesSection2Button.EnabledButton,
#DynamicPosesSection1Button.EnabledButton:hover,
#DynamicPosesSection2Button.EnabledButton:hover {
    background-color: #e3aac9;
    border-color: #ba6f98;

    transform: scale(0.92);
}

#DynamicPosesSections>button:hover,
#DynamicPosesSection1ExampleButton:hover {
    box-shadow: rgba(184, 35, 184, 0.35) 0 -25px 18px -14px inset, rgb(184, 35, 184, 0.25) 0 1px 2px, rgb(184, 35, 184, 0.25) 0 2px 4px, rgb(184, 35, 184, 0.25) 0 4px 8px, rgb(184, 35, 184, 0.25) 0 8px 16px, rgb(184, 35, 184, 0.25) 0 16px 32px;
    transform: scale(1.05) rotate(1.5deg);
}



#DynamicPosesImage1 {
    grid-column: 1/2;
    grid-row: 2/3;

    width: 100%;
}

#DynamicPosesSection1Text1 {
    grid-column: 2/5;
    grid-row: 2/3;
    padding-left: 10%;

    font-size: 1.75vw;
    margin: auto 0;
}

#DynamicPosesImage2 {
    grid-column: 1/5;
    grid-row: 3/4;

    width: 100%;
}

#DynamicPosesSection1Text2 {
    grid-column: 1/5;
    grid-row: 4/5;

    font-size: 1.75vw;
    margin: auto 0;
    padding: 2% 10% 0 10%;
}

#DynamicPosesSection1ExampleButton {
    grid-column: 2/4;
    grid-row: 5/6;

    margin-top: 15%;
}

.DynamicPosesSectionExample {
    display: none;
}

/* example section animate in */

.DynamicPosesSectionExample.DynamicPosesExampleStartAnimation {
    animation: OpacityFadeInAnimationKeyframes 1.2s forwards;
    animation-timing-function: ease-in;
}

/* fade out */

.DynamicPosesSectionExample.DynamicPosesExampleStartAnimation.DynamicPosesExampleResetAnimation {
    animation: OpacityFadeOutAnimationKeyframes 1.2s forwards;
    animation-timing-function: ease-out;
}

#DynamicPosesImage3 {
    grid-column: 1/3;
    grid-row: 6/7;

    width: 100%;
    margin-top: 4%;
}

#DynamicPosesSection1Text3 {
    grid-column: 3/5;
    grid-row: 6/7;
    padding-left: 10%;

    font-size: 1.75vw;
    margin: auto 0;
}

#DynamicPosesSection2Text1 {
    font-size: 1.75vw;
    margin: auto 0;

    padding-top: 5%;
}

#DynamicPosesImage4 {
    width: 100%;
    margin-top: 4%;
}









































/* color theory */

.ColorTheory {
    background-color: rgb(243, 230, 247);

    width: 100%;
    height: auto;
}

.ColorTheoryHeader {
    background-color: rgb(243, 230, 247);
    padding-top: 2%;

    font-size: 1.75vw;
    text-align: center;

    z-index: 1400;
}

#ColorTheorySections {
    margin-left: 10%;
    margin-right: 10%;

    overflow: visible;
    position: relative;
}










#ColorTheorySection1 {
    background-color: rgb(243, 230, 247);
    padding-bottom: 60vh;

    position: sticky;
    top: 0;

    z-index: 1100;
}

.ColorTheorySectionHeader {
    font-size: 2vw;
    padding-top: 5%;
}

#ColorTheorySection1Image1 {
    width: 98%;
    padding-left: 1%;
}

#ColorTheorySection1Text1 {
    font-size: 1.6vw;
    margin: auto 5%;

    padding-top: 2%;
}








#ColorTheorySection2 {
    background-color: rgb(243, 230, 247);
    background: linear-gradient(to top, rgb(243, 230, 247) 0%, rgb(243, 230, 247) 90%, rgb(0, 0, 0, 0) 100%);

    padding-bottom: 30%;

    position: sticky;
    top: -10%;

    z-index: 1200;
}

#ColorTheorySection2Header {
    margin-left: 10%;
    padding-top: 15%;

    font-size: 2vw;

    position: relative;
    z-index: 1299;
}

#ColorTheorySection2MainContent {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;

    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

#ColorTheorySection2Image1 {
    grid-column: 1/3;
    grid-row: 2/3;

    width: 90%;
    margin: 0 5%;
}

#ColorTheorySection2Text1 {
    grid-column: 1/3;
    grid-row: 1/2;

    width: 90%;
    padding: 2% 0;

    font-size: 1.6vw;
    margin: auto 5%;
}







#ColorTheorySection2a {
    background-color: rgb(243, 230, 247);
    padding-top: 5%;
    padding-bottom: 60vh;

    position: sticky;
    top: 2em;

    z-index: 1210;
}

#ColorTheorySection2aMainContent {
    width: 80%;
    margin: 0 auto;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
}

#ColorTheorySection2Image2 {
    position: sticky;
    top: -15%;

    grid-column: 1/2;
    grid-row: 1/2;

    width: 100%;
}

#ColorTheorySection2Text2 {
    position: sticky;
    top: -15%;

    grid-column: 2/3;
    grid-row: 1/2;

    width: 90%;
    padding: 2% 0;

    font-size: 1.6vw;
    margin: auto 5%;
}

#ColorTheorySection2Text3 {
    position: sticky;
    top: -15%;

    grid-column: 1/3;
    grid-row: 2/3;

    width: 90%;
    padding: 3% 0;

    font-size: 1.6vw;
    margin: auto 5%;
}













#ColorTheorySection3 {
    background-color: rgb(243, 230, 247);
    background: linear-gradient(to top, rgb(243, 230, 247) 0%, rgb(243, 230, 247) 90%, rgb(0, 0, 0, 0) 100%);
    padding-top: 0;
    padding-bottom: 60vh;

    position: sticky;
    top: -10%;

    z-index: 1300;
}

#ColorTheorySection3MainContent {
    width: 90%;
    margin: auto 5%;

    padding-top: 5%;
}

#ColorTheorySection3Header {
    width: 90%;
    margin: auto 5%;

    padding-top: 15%;
}

#ColorTheorySection3Image1 {
    width: 60%;
    margin: 0 20%;
}

#ColorTheorySection3Text1 {
    font-size: 1.6vw;
    margin: auto 5%;
    padding-top: 1%;
}







#ColorTheorySection3a {
    background-color: rgb(243, 230, 247);

    padding-top: 5%;
    padding-bottom: 60vh;

    position: sticky;
    top: 0;

    z-index: 1300;
}

#ColorTheorySection3aMainContent {
    width: 90%;
    margin: auto 5%;

    padding-top: 5%;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;
}

#ColorTheorySection3aImage1 {
    width: 70%;
    margin: 0 15%;

    grid-column: 1/2;
    grid-row: 1/4;
}

#ColorTheorySection3aText1 {
    font-size: 1.6vw;
    margin: auto 5%;

    grid-column: 2/3;
    grid-row: 1/2;
}

#ColorTheorySection3aText2 {
    font-size: 1.6vw;
    margin: auto 5%;
    padding-top: 3%;

    grid-column: 2/3;
    grid-row: 2/3;
}

#ColorTheorySection3aText3 {
    font-size: 1.6vw;
    margin: auto 5%;
    padding-top: 3%;

    grid-column: 2/3;
    grid-row: 3/4;
}











#ColorTheorySection3b {
    background-color: rgb(243, 230, 247);
    padding-top: 5%;
    padding-bottom: 60vh;

    position: sticky;
    top: 0;

    z-index: 1300;
}

#ColorTheorySection3bMainContent {
    width: 90%;
    margin: auto 5%;

    padding-top: 5%;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
}

#ColorTheorySection3bImage1 {
    width: 100%;

    grid-column: 1/3;
    grid-row: 1/1;
}

#ColorTheorySection3bText1 {
    font-size: 1.6vw;
    margin: 0 5%;
    padding-top: 5%;

    grid-column: 1/2;
    grid-row: 2/3;
}

#ColorTheorySection3bText2 {
    font-size: 1.6vw;
    margin: 0 5%;
    padding-top: 5%;

    grid-column: 2/3;
    grid-row: 2/3;
}





















































#CanvasGame {
    background-color: #ebcaa9;

    padding: 5%;
}

#CanvasGameHeader {
    text-align: center;

    margin-bottom: 5%;
}

#CanvasTitle {
    background-color: moccasin;
    padding: 5%;

    text-align: center;
    vertical-align: middle;
}

.CanvasContainer {
    display: flex;
    width: 100%;
}

#DrawingTools {
    display: flex;
    flex-direction: column;

    background-color: rgb(235, 205, 153);
    
    width: 10vw;
    padding: 2%;
}

#DrawingTools > label {
    font-size: 1.5em;
}

#DrawingTools > input {
    width: 100%;
    margin-bottom: 20%;
}

#DrawingTools > button {
    background-color: #fbc2e1;
    border-color: #d68db5;
    border-radius: 80px;
    box-shadow: rgb(173, 44, 187, 0.2) 0 -25px 18px -14px inset, rgb(173, 44, 187, 0.15) 0 1px 2px, rgb(173, 44, 187, 0.15) 0 2px 4px, rgb(173, 44, 187, 0.15) 0 4px 8px, rgb(173, 44, 187, 0.15) 0 8px 16px, rgb(173, 44, 187, 0.15) 0 16px 32px;
    color: rgb(128, 0, 83);
    cursor: pointer;

    margin: 5%;
    padding: 2%;
    text-align: center;
    font-size: 1.4vw;
}

#KeyboardUndoTip {
    text-align: center;
    margin: 20% 5%;
    font-size: 1em;
}

#Canvas {
    display: block;

    background-color: white;
    border-style: groove;
    border-width: 0.3em;
    border-color: black;

    width: 75vw;
}













Footer {
    display: grid;
    grid-template-columns: 5% 1fr 1fr 5%;
    grid-template-rows: 20% 1fr;

    background-color: rgb(211, 211, 255);

    font-size: 1.2em;
    
    margin: auto;
    padding-top: 2%;
}

#FooterHeader {
    grid-column: 2/4;
    grid-row: 1/2;

    text-align: center;
}

#ImageSources{
    grid-column: 2/3;
    grid-row: 2/3;
}

#QRCode {
    grid-column: 3/4;
    grid-row: 2/3;

    margin: auto;
}










































/* keyframes yippee i love art i love animation put me in agve coach i got this hehaehajakhjsehjskjkj */

@keyframes OpacityFadeInAnimationKeyframes {
    from {
        opacity: 0%
    }

    to {
        opacity: 100%
    }
}

@keyframes OpacityFadeOutAnimationKeyframes {
    from {
        opacity: 100%
    }

    to {
        opacity: 0%
    }
}

@keyframes DynamicPosesExtendAnimationKeyframes {
    from {
        height: 130vw
    }

    to {
        height: 155vw
    }
}

@keyframes DynamicPosesContractAnimationKeyframes {
    from {
        height: 155vw
    }

    to {
        height: 130vw
    }
}







































@media (max-width:800px) {

    /* keyframes for rwd */

    @keyframes DynamicPosesExtendAnimationKeyframes {
        from {
            height: 230vh
        }

        to {
            height: 300vh
        }
    }

    @keyframes DynamicPosesContractAnimationKeyframes {
        from {
            height: 300vh
        }

        to {
            height: 230vh
        }
    }



    /* human anatomy section */

    #HumanAnatomy {
        height: 300vh;
    }

    #HumanAnatomySections {
        height: 250vh;
    }

    .HumanAnatomyHeader {
        padding-top: 30%;
        padding-left: 2%;
        padding-right: 2%;
        font-size: 1.25em;
    }

    #HumanAnatomySections {
        grid-template-columns: 2% 1fr 1fr 2%;
        grid-template-rows: 10% auto;

        padding: 0;
    }

    #HumanAnatomySections > * {
        grid-column: 2/4;
    }

    .HumanAnatomySectionHeader {
        grid-column: 1/2;
        grid-row: 1/2;

        text-align: center;
        margin: auto;
        padding-bottom: 2%;

        font-size: 1.5em;
    }

    /* section 1 */

    #HumanAnatomySection1 {
        grid-row: 2/3;
    }

    #HumanAnatomySection1Button {
        grid-row: 1/2;
    }

    #HumanAnatomySection2Button {
        grid-row: 1/2;
    }

    #HumanAnatomySection1Text {
        font-size: 1.2em;
    }

    /* section 2 */

    #HumanAnatomySection2 {
        grid-row: 2/3;
    }

    .HumanAnatomySection2MainContent {
        display: flex;
        flex-direction: column;
    }

    #HumanAnatomyImage3, #HumanAnatomyImage4 {
        width: 80%;
        margin: 0 10%;
    }

    #HumanAnatomyImage3 {
        order: 1;
    }

    #HumanAnatomySection2Text2 {
        order: 2;
    }

    #HumanAnatomyImage4 {
        order: 3;
    }

    #HumanAnatomySection2Text3 {
        order: 4;
    }

    #HumanAnatomySection2Text1, #HumanAnatomySection2Text2, #HumanAnatomySection2Text3 {
        font-size: 1.2em;
        padding: 2% 5% 5% 5%;
    }

    /* section 3 */

    #HumanAnatomySection3 {
        grid-row: 2/3;
    }

    .HumanAnatomySection3MainContent {
        display: block;
    }

    #HumanAnatomyImage5 {
        width: 50%;
        margin-left: 25%;
    }

    #HumanAnatomySection3Text1, #HumanAnatomySection3Text2 {
        font-size: 1.2em;
    }





    /* dynamic poses */

    .DynamicPoses {
        height: 230vh;
    }

    .DynamicPosesHeader {
        font-size: 1.2em;
    }

    #DynamicPosesSections {
        display: flex;
        flex-direction: column;
    }

    .DynamicPosesSectionHeader {
        text-align: center;
        margin: auto;
        padding-bottom: 2%;

        font-size: 1.5em;
    }

    /* buttons */

    #DynamicPosesSections > button, #DynamicPosesSection1Button, #DynamicPosesSection2Button {
        display: inline-block;
        width: 90%;

        font-size: 1.2em;
        padding: 0.5em;
        margin: 0.3em auto;

        order: 0;
    }

    #DynamicPosesSection1, #DynamicPosesSection2 {
        order: 1;
    }

    /* section 1 */

    .DynamicPosesSection1MainContent {
        display: flex;
        flex-direction: column;
    }

    #DynamicPosesImage1 {
        width: 50%;
        margin-left: 25%;

        order: 0;
    }

    #DynamicPosesSection1Text1 {
        font-size: 1.2em;
        padding: 2% 5% 5% 5%;

        order: 1;
    }

    #DynamicPosesImage2 {
        order: 2;
    }

    #DynamicPosesSection1Text2 {
        font-size: 1.2em;
        padding: 2% 5% 5% 5%;

        order: 3;
    }

    #DynamicPosesSection1ExampleButton {
        width: 70%;

        font-size: 1.2em;
        padding: 0.5em;
        margin: 0.3em auto;

        order: 4;
    }

    #DynamicPosesImage3 {
        width: 90%;
        margin-left: 5%;

        order: 5;
    }

    #DynamicPosesSection1Text3 {
        width: 90%;
        padding-left: 5%;
        font-size: 1.2em;
        
        order: 6;
    }

    /* section 2 */

    #DynamicPosesImage4 {
        width: 80%;
        margin-left: 10%;
    }

    #DynamicPosesSection2Text1 {
        font-size: 1.2em;
        padding: 3% 10%;
    }



    /* color theory */

    #ColorTheorySections {
        margin-left: 3%;
        margin-right: 3%;
    }

    .ColorTheoryHeader, 
    #ColorTheorySection1Text1, 
    #ColorTheorySection2Text1,
    #ColorTheorySection3Text1 {
        font-size: 1.2em;
    }

    .ColorTheorySectionHeader, #ColorTheorySection2Header {
        text-align: center;
        margin: auto;
        padding-bottom: 2%;

        font-size: 1.3em;
    }

    /* section 2 */

    #ColorTheorySection2 {
        background: rgb(243, 230, 247);
        top: 0;
    }

    /* section 2a */

    #ColorTheorySection2a {
        top: 2em;
    }

    #ColorTheorySection2aMainContent {
        display: block;
    }

    #ColorTheorySection2aImage2 {
        width: 90%;
        margin-left: 5%;
    }

    #ColorTheorySection2Text2, #ColorTheorySection2Text3 {
        font-size: 1.2em;
    }

    /* section 3 */

    #ColorTheorySection3 {
        background: rgb(243, 230, 247);
        top: 0;
    }

    #ColorTheorySection3Image1 {
        width: 90%;
        margin: 0 5%;
    }

    /* section 3a */

    #ColorTheorySection3aMainContent {
        display: block;
        padding-top: 0;
    }

    #ColorTheorySection3aImage1 {
        width: 50%;
        margin: 0 30%;
    }

    #ColorTheorySection3aText1, #ColorTheorySection3aText2, #ColorTheorySection3aText3 {
        font-size: 0.9em;
    }

    /* section 3b */

    #ColorTheorySection3bMainContent {
        display: block;
    }

    #ColorTheorySection3bText1, #ColorTheorySection3bText2 {
        font-size: 0.9em;
    }



    /* canvas */

    .CanvasContainer {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: auto auto;
    }

    #DrawingTools {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto;
        grid-column: 1/2;
        grid-row: 1/2;

        width: auto;
    }

    #DrawingTools > * {
        grid-column: 1/3;
    }

    #DrawingTools > label {
        text-align: center;
    }

    #DrawingTools > input {
        width: 20%;
        margin: auto;
    }

    #DrawingTools > button {
        display: inline-block;
        margin: 0;
        width: 90%;
        margin: 5%;
        font-size: 1.2em;
    }

    #UndoCanvas {
        grid-column: 1/2;
    }

    #ClearCanvas {
        grid-column: 2/3;
    }

    #KeyboardUndoTip {
        display: none;
    }

    .Canvas {
        grid-column: 1/2;
        grid-row: 2/3;
    }

    #Canvas {
        margin: auto;
        aspect-ratio: 1/1;
    }



    /* footer */

    #ImageSources {
        grid-column: 2/4;
        grid-row: 2/3;
    }

    #QRCodeImage {
        display: none;
    }


}

